#!/bin/bash

{% if ansible_system_vendor == 'Apple Inc.' %}
# Set brightness on Apple hardware
# Check if the brightness-default.sh script exists in the same directory (provided by 42).
# For some reason 42 runs this script for the greeter-setup, not display-setup hook in lightdm.
# Could implement the same behavior, but if it changes in 42.common we'd need to change it here as well.
# Better to just source it if it exists.
if [ -f "$(dirname $0)/brightness-default.sh" ]; then
	source "$(dirname $0)/brightness-default.sh"
fi
{% endif %}

# Prevent screen from blanking
/usr/bin/xset s off

# Turn on Num Lock on the keyboard
/usr/bin/numlockx on

# Get a list of all active user sessions on the system with loginctl
USER_SESSIONS=$(/usr/bin/loginctl list-sessions --no-legend)

# Loop over all active sessions and cache them with dbus-send + store a locked_at_timestamp file in the /tmp folder
# This is required for the codam-web-greeter and other lock screens to work properly (fetch the list of users)
while IFS= read -r SESSION; do
	# Skip empty lines
	if [ -z "$SESSION" ]; then
		continue
	fi

	SESSION_ID=$(echo "$SESSION" | /usr/bin/awk '{print $1}')
	USER=$(echo "$SESSION" | /usr/bin/awk '{print $3}')

{% if dbus_cache_group_check_enabled == true %}
	# Check if the user is in the {{ dbus_cache_group_check_group }} group
	USER_GROUPS=$(/usr/bin/id -Gn "$USER")
	if /usr/bin/grep -q '{{ dbus_cache_group_check_group }}' <<<"$USER_GROUPS"; then
		# If not, skip the user
		echo "Skipping user caching for $USER, not in {{ dbus_cache_group_check_group }} group ($USER_GROUPS)"
		continue
	fi
{% endif %}

	# Cache the user
	/usr/bin/dbus-send --system --print-reply --type=method_call --dest=org.freedesktop.Accounts /org/freedesktop/Accounts org.freedesktop.Accounts.CacheUser string:"$USER" || true
	echo "Cached user $USER"

	# Create a locked_at_timestamp file in /tmp
	SESSION_LEADER=$(/usr/bin/loginctl show-session --property=Leader --value "$SESSION_ID")
	LOCKED_AT_TIMESTAMP=$(date +%s) # Assume the session is locked at the time of greeter-setup
	echo "$LOCKED_AT_TIMESTAMP $USER $SESSION_ID $SESSION_LEADER" > "/tmp/codam_web_greeter_lock_timestamp_$USER"
done <<< "$USER_SESSIONS"
