{
	"data_server_url": "{{ codam_web_greeter_data_server_url }}",
	"exam_username": "{{ codam_web_greeter_exam_username }}",
	"exam_password": "{{ codam_web_greeter_exam_password }}",
	"disable_exam_mode": {{ codam_web_greeter_disable_exam_mode }},
	"exam_mode_check_interval": {{ codam_web_greeter_exam_mode_check_interval }},
	"exam_mode_minutes_before_begin": {{ codam_web_greeter_exam_mode_minutes_before_begin }}
}
